.rbc-event {
  background-color: #007bff !important;
  border-radius: 6px;
  opacity: 0.9;
  color: white;
  border: none;
  display: block;
  padding: 5px;
  margin: 2px 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.rbc-event:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rbc-today {
  background-color: #e3f2fd !important; 
  color: #000000 !important; 
  border: 1px solid #90caf9 !important; 
}

body.dark-mode .rbc-today {
  background-color: #424242 !important; 
  color: #ffffff !important; 
  border: 1px solid #bb86fc !important; 
}

.my-calendar-section input[type="text"] {
  width: 91%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  font-size: 14px;
  transition: border-color 0.2s ease;
}

.my-calendar-section input[type="text"]:focus {
  width: 91%;
  border-color: #007bff;
  outline: none;
}

.my-calendar-section button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--button-background-color); 
  color: var(--button-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.my-calendar-section button:hover {
  background-color: var(--button-hover-background-color); 
}

.my-calendar-section ul {
  list-style-type: none;
  padding: 0;
}

.my-calendar-section li {
  cursor: pointer;
  padding: 10px;
  background-color: var(--card-background-color);
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.my-calendar-section li.selected {
  background-color: var(--button-hover-background-color);
  color: var(--button-text-color); 
}

.my-calendar-section li input[type="text"] {
  width: 92%;
  margin-top: 10px;
  border-radius: 4px;
  background-color: var(--card-background-color);
  color: var(--text-color); 
  border: 1px solid var(--border-color); 
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.my-calendar-section li input[type="text"]:focus {
  border-color: var(--button-background-color);
  outline: none;
}

.my-calendar-section li button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--button-background-color);
  color: var(--button-text-color); 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.my-calendar-section li button:hover {
  background-color: var(--button-hover-background-color);
}